Demostraciones/IronMan/IronMan/Service References/IronManEventoServicio/EventoServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventoServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9175/EventoServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9175/EventoServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9175/EventoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IronManServicios" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventoServicio_ObtenerNombreEvento_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreEvento" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_ObtenerNombreEvento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerNombreEventoResponse" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Guardar_InputMessage">
    <wsdl:part name="parameters" element="tns:Guardar" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Guardar_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarResponse" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Obtener_InputMessage">
    <wsdl:part name="parameters" element="tns:Obtener" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Obtener_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerResponse" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Listar_InputMessage">
    <wsdl:part name="parameters" element="tns:Listar" />
  </wsdl:message>
  <wsdl:message name="IEventoServicio_Listar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventoServicio">
    <wsdl:operation name="ObtenerNombreEvento">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventoServicio/ObtenerNombreEvento" message="tns:IEventoServicio_ObtenerNombreEvento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventoServicio/ObtenerNombreEventoResponse" message="tns:IEventoServicio_ObtenerNombreEvento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventoServicio/Guardar" message="tns:IEventoServicio_Guardar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventoServicio/GuardarResponse" message="tns:IEventoServicio_Guardar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventoServicio/Obtener" message="tns:IEventoServicio_Obtener_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventoServicio/ObtenerResponse" message="tns:IEventoServicio_Obtener_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventoServicio/Listar" message="tns:IEventoServicio_Listar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventoServicio/ListarResponse" message="tns:IEventoServicio_Listar_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventoServicio" type="tns:IEventoServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerNombreEvento">
      <soap:operation soapAction="http://tempuri.org/IEventoServicio/ObtenerNombreEvento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Guardar">
      <soap:operation soapAction="http://tempuri.org/IEventoServicio/Guardar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Obtener">
      <soap:operation soapAction="http://tempuri.org/IEventoServicio/Obtener" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Listar">
      <soap:operation soapAction="http://tempuri.org/IEventoServicio/Listar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventoServicio">
    <wsdl:port name="BasicHttpBinding_IEventoServicio" binding="tns:BasicHttpBinding_IEventoServicio">
      <soap:address location="http://localhost:9175/EventoServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>