Demostraciones/IronMan/IronMan/Service References/IronManEventoServicio/EventoServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9175/EventoServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/IronManServicios" />
  <xs:element name="ObtenerNombreEvento">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerNombreEventoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerNombreEventoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Guardar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/IronManServicios" minOccurs="0" name="e" nillable="true" type="q1:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GuardarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/IronManServicios" minOccurs="0" name="ObtenerResult" nillable="true" type="q2:Evento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Listar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/IronManServicios" minOccurs="0" name="ListarResult" nillable="true" type="q3:ArrayOfEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>