Demostraciones/Modulo 6/WCF/WCFCliente/Service References/CalcServicio/CalculadoraServicio.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfCalculo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfCalculo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Resultado">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" type="xs:boolean" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Valor" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Resultado" nillable="true" type="tns:Resultado" />
</xs:schema>