Demostraciones/Modulo 6/WCF/WCFCliente/Service References/CalcServicio/CalculadoraServicio1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2231/CalculadoraServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCalculo" />
  <xs:element name="Sumar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operador1" type="xs:decimal" />
        <xs:element minOccurs="0" name="operador2" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCalculo" minOccurs="0" name="SumarResult" nillable="true" type="q1:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Restar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operador1" type="xs:decimal" />
        <xs:element minOccurs="0" name="operador2" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfCalculo" minOccurs="0" name="RestarResult" nillable="true" type="q2:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Multiplicar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operador1" type="xs:decimal" />
        <xs:element minOccurs="0" name="operador2" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MultiplicarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfCalculo" minOccurs="0" name="MultiplicarResult" nillable="true" type="q3:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Dividir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numerador" type="xs:decimal" />
        <xs:element minOccurs="0" name="denominador" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DividirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfCalculo" minOccurs="0" name="DividirResult" nillable="true" type="q4:Resultado" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>