Demostraciones/Modulo 6/WCF/WCFCliente/Service References/CalcServicio/CalculadoraServicio.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalculadoraServicio" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2231/CalculadoraServicio.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2231/CalculadoraServicio.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2231/CalculadoraServicio.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCalculo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalculadoraServicio_Sumar_InputMessage">
    <wsdl:part name="parameters" element="tns:Sumar" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Sumar_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Restar_InputMessage">
    <wsdl:part name="parameters" element="tns:Restar" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Restar_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Multiplicar_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplicar" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Multiplicar_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicarResponse" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Dividir_InputMessage">
    <wsdl:part name="parameters" element="tns:Dividir" />
  </wsdl:message>
  <wsdl:message name="ICalculadoraServicio_Dividir_OutputMessage">
    <wsdl:part name="parameters" element="tns:DividirResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalculadoraServicio">
    <wsdl:operation name="Sumar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadoraServicio/Sumar" message="tns:ICalculadoraServicio_Sumar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadoraServicio/SumarResponse" message="tns:ICalculadoraServicio_Sumar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadoraServicio/Restar" message="tns:ICalculadoraServicio_Restar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadoraServicio/RestarResponse" message="tns:ICalculadoraServicio_Restar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadoraServicio/Multiplicar" message="tns:ICalculadoraServicio_Multiplicar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadoraServicio/MultiplicarResponse" message="tns:ICalculadoraServicio_Multiplicar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalculadoraServicio/Dividir" message="tns:ICalculadoraServicio_Dividir_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalculadoraServicio/DividirResponse" message="tns:ICalculadoraServicio_Dividir_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalculadoraServicio" type="tns:ICalculadoraServicio">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sumar">
      <soap:operation soapAction="http://tempuri.org/ICalculadoraServicio/Sumar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Restar">
      <soap:operation soapAction="http://tempuri.org/ICalculadoraServicio/Restar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplicar">
      <soap:operation soapAction="http://tempuri.org/ICalculadoraServicio/Multiplicar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Dividir">
      <soap:operation soapAction="http://tempuri.org/ICalculadoraServicio/Dividir" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculadoraServicio">
    <wsdl:port name="BasicHttpBinding_ICalculadoraServicio" binding="tns:BasicHttpBinding_ICalculadoraServicio">
      <soap:address location="http://localhost:2231/CalculadoraServicio.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>