Demostraciones/Modulo 6/WcfDemo/WindowsFormsCliente/Service References/ServiceReference1/WcfDemo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDCliente" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDContacto" type="xs:int" />
      <xs:element minOccurs="0" name="Calle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Piso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cuidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pais" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Web" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Proyectos" nillable="true" type="tns:ArrayOfProyectos">
        <xs:annotation>
          <xs:appinfo>
            <DefaultValue EmitDefaultValue="false" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
          </xs:appinfo>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clientes" nillable="true" type="tns:Clientes" />
  <xs:complexType name="ArrayOfProyectos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Proyectos" nillable="true" type="tns:Proyectos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProyectos" nillable="true" type="tns:ArrayOfProyectos" />
  <xs:complexType name="Proyectos">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDProyecto" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDCliente" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Proyectos" nillable="true" type="tns:Proyectos" />
  <xs:complexType name="ArrayOfClientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clientes" nillable="true" type="tns:Clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClientes" nillable="true" type="tns:ArrayOfClientes" />
</xs:schema>